<%- include('includes/header.ejs') %>
    <body>
        <%- include('includes/navigation.ejs') %>
        <div class="container">
            <form class="product-form col-lg-6" action="/article" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="Title">Title</label>
                    <input class="form-control" type="text" name="title" id="title">
                </div>
                <div class="form-group">
                    <label for="Author">Author</label>
                    <input class="form-control" type="text" name="author" id="author">
                </div>
                <div class="form-group">
                    <label for="Body">Body</label>
                    <textarea class="form-control" type="text" name="body" id="author" rows=5></textarea>
                </div>
                <div class="form-group">
                    <label for="Title">Image for your Article</label>
                    <input class="form-control" type="file" name="articleImage" id="file" style="padding: 3px;">
                </div>
        
                <button class="btn btn-primary" type="submit" value="Submit">Add Article</button>
            </form>
        </div>
    </body>
</html>